[submodule "cross"]
	path = cross
	url = git@github.com:vinodotdev/cross.git
[submodule "docker/nvm"]
	path = docker/nvm
	url = git@github.com:nvm-sh/nvm.git
[submodule "docker/dev-common/bash-infinity"]
	path = docker/dev-common/bash-infinity
	url = https://github.com/niieani/bash-oo-framework.git
